div{
    display: flex;
    flex-wrap: wrap;
}
p{
    text-align: center;
    margin: 8px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}